<div class="container">
	<h1>Welcome to the Official Bottega party space :D</h1>
	<ol>
		<li>Play some Pong!</li>
		<li>Reserve the ping-pong table or a conference room</li>
		<li>Create an Event to Meet-Up!</li>
	</ol>
	<p>Find me in app/views/static/home.html.erb</p>
</div>