// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page-padding {
  margin: 20px 30px 30px 30px;
}

.gray-text {
  color: darkGray;
}

#title-bar {
  font-size: 50px;
}

.float {
  float: right;
  margin-top: 23px;
  font-size: 20px;
}